<!DOCTYPE html>
<html>
  <style>
    input[type="text"],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type="date"],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    input[type="submit"] {
      width: 100%;
      background-color: #4caf50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

    div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      width: 50%;
      margin: auto;
    }

    h1 {
      text-align: center;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }

    h3 {
      text-align: center;
      font-family: fantasy;
    }
  </style>

  <body>
    <h1>EDIT DATA STUDENT</h1>
    <h3><a href="/student">Show All Student</a></h3>

    <div>
      <form action="/student/:id/edit" method="POST">
        <label for="fname">First Name</label>
        <input
        type="text"
        id="fname"
        name="first_name"
        placeholder="Your first name.."
        value="<%= student.first_name %>"
      />

        <label for="lname">Last Name</label>
        <input
          type="text"
          id="lname"
          name="last_name"
          placeholder="Your last name.."
          value="<%=student.last_name%>"
        />

        <label for="email">Email</label>
        <input
          type="text"
          id="lname"
          name="email"
          placeholder="Your email Address.."
          value="<%=student.email%>"
        />

        <label for="country">Gender</label>
        <select id="country" name="gender">
          <option value="Male">Choose One</option>
          <option value="Male" <%= student.gender === "Male" ? 'selected' :'' %> >Male</option>
          <option value="Female"<%= student.gender === "Female" ? 'selected' :'' %> >Female</option>
        </select>

        <label for="email">Tanggal Lahir</label>
        <input
          type="date"
          id="lname"
          name="birth_date"
          placeholder="Your Birth_Day"
          value="<%=student.birth_date%>"
        />

        <input type="submit" value="UPDATE STUDENT" />
      </form>
    </div>
  </body>
</html>
